body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 50px;
}

.project {
  display: flex;
}

.map-container {
  width: 400px;
  height: 700px;

  position: relative;
}

.map-img {
  width: 400px;
  height: 700px;
  object-fit: cover;
  overflow: hidden;
}

.location-list {
  position: absolute;
}

.location-item {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(0, 62, 0, 0.7);
  color: greenyellow;
  border: 2px solid greenyellow;
}

.location-item:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.location-item.active{
  background-color: greenyellow;
}

.tooltip{
  position: absolute;
  width: 120px;
  left: 30px;
  background-color: rgba(0, 62, 0, 0.7);
}

/* #loc1 { top: 200px; left: 200px; }
#loc2 { top: 300px; left: 250px; }
#loc3 { top: 567px; left: 123px; } */

.map-legand {
  position: absolute;

  height: 80px;
  width: 180px;
  padding: 10px;
  background-color: rgba(0, 62, 0, 0.7);
  color: greenyellow;
  border: 1px solid greenyellow;

  display: none;
}

.vis-container {
  display: flex;
  height: 700px;
  width: calc(100% - 400px);
}

.freq-btns {
  width: 120px;
}

.freq-btn {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  margin: 10px;
}
.freq-btn:hover{
  background-color: rgba(0, 62, 0, 0.7);
  cursor: pointer;
}
.freq-btn.active{
  border: 2px solid greenyellow;
  background-color: rgba(0, 62, 0, 0.7);
}

.canvas-container {
  width: calc(100% - 120px);
}