* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  height: 50px;
  width: 100%;

  background-color: white;

  border-bottom: 2px solid black;
  position: fixed;
  top: 0;

  z-index: 100;
}

.header-container{
  display: flex;

  position: relative;

  width: 880px;
  margin: auto;
}

.navigation{
  display: flex;

  position: absolute;
  right: 0;
}

.nav-item{
  width: 100px;
  text-align: center;
}

.content{
  position: relative;
  top: 60px;

  width: 880px;
  margin: auto;
}

.hci-container{
  margin-top: 20px;

  display: flex;
}

.map-container{
  width: 30%;
}

.map{
  height: 500px;
  border: 1px solid black;
}

.vis-container{
  width: 70%;
  display: flex;
  position: relative;
  top: 18px;
}

.btns{
  width: 150px;
  margin-left: 20px;
}

.btn{
  width: 80px;
  height: 30px;

  border: 1px solid black;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center;
}

.btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.btn-item{
  display: flex;
}

.line{
  height: 15px;
  width: 50px;
  border-bottom: 1px dashed black;
}

.vis{
  height: 500px;
  width: 100%;
  border: 1px solid black;
}