.App {
  text-align: center;
}

.display{
  height: 150px;
  font-size: 35px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.keyboard{
  width: 1200px;
  margin: auto;
  display: flex;;
}

.key-button{
  width: 50px;
  height: 150px;
  border: 1px solid black;
  margin: 2px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.key-button.active{
  background: black;
  color: greenyellow;
}
